:root {
  --heading-bg-color1: #416dff;
  --heading-bg-color2: #849ffa;
  --card-body-text: #828282;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  padding: 0 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2,
h3 {
  margin: 0;
}

.header,
.footer {
  background-image: linear-gradient(
    var(--heading-bg-color1),
    var(--heading-bg-color2)
  );
  color: white;
  padding: 1rem;
  text-align: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-inside {
  flex: 1 0 auto;
}

.search-form {
  width: 100%;
  display: grid;
}

.search-form > label {
  display: flex;
  align-items: center;
  padding: 0;
}

.search-bar {
  min-width: 290px;
  margin: 5px;
  padding: 5px;
  height: 1.5rem;
  font-size: 1rem;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.sort-by {
  margin: 5px;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid darkgray;
}

.cards {
  max-width: 1000px;
  margin: 1rem auto;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px #ccc;
}

.card-header {
  background-color: var(--heading-bg-color1);
  height: 100px;
  width: 300px;
  color: white;
}

.card-icon {
  position: absolute;
  padding: 8px;
  z-index: 1;
}

.card-icon:hover {
  cursor: pointer;
}

.card-name {
  font-size: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 1rem;
}

.card-image {
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 5px 1px #ccc;
  position: absolute;
  top: 50px;
  left: 80px;
}

.card-body {
  box-sizing: border-box;
  height: 250px;
  width: 300px;
  text-align: center;
  padding: 1rem;
  color: var(--card-body-text);
  display: flex;
  align-items: flex-end;
}

.card-details {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2;
}

.footer {
  flex-shrink: 0;
}

.footer > a {
  color: white;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal button {
  background-color: var(--heading-bg-color1);
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal form {
  font-size: 20px;
}

#modal input {
  width: 80%;
  border-radius: 5px;
  border: 1px solid darkgray;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 6px;
  color: #333;
}

#modal input:focus {
  background-color: yellow;
  font-weight: bold;
}

#modal .buttons button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 15px;
}

@media (min-width: 640px) {
  .search-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .search-form {
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  .content {
    width: 1000px;
    margin: auto;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
